/* DECLARE MAIN STYLES xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* /////////////////////////////////////////////////////////////////// */

    /* BODY ELEMENTS STYLES ------------------------------------------ */
    /* /////////////////////////////////////////////////////////////// */

        .navBarOneBodyControl{

            width:100%;
            margin:0px auto;
            text-align:center;
            background:#b35151;
            transition:all 600ms ease;
            -webkit-transition:all 600ms ease;
            -moz-transition:all 600ms ease;
            -o-transition:all 600ms ease;
            -ms-transition:all 600ms ease;

        }

            /* SCROLL BAR ELEMENT ------------------------------------ */
            /* /////////////////////////////////////////////////////// */

                /* width */
                ::-webkit-scrollbar {
                    width: 10px;
                }
                
                /* Track */
                ::-webkit-scrollbar-track {
                    background: rgba(0,0,0,0);
                }
                
                /* Handle */
                ::-webkit-scrollbar-thumb {
                    background: rgba(0,0,0,0);
                }
                
                /* Handle on hover */
                ::-webkit-scrollbar-thumb:hover {
                    background: rgba(0,0,0,0);
                }        

